<div *ngIf="loading$ | async">LOADING</div>
<div *ngIf="fields.length > 0" class="container mx-auto px-4 py-8">
  <button
    class="rounded-md shadow py-1 px-2 mb-2 bg-gray-600 text-white uppercase text-sm cursor-pointer"
    (click)="addCoin()"
  >
    ADD COIN
  </button>
  <table class="overflow-auto rounded-sm">
    <tr class="border-gray-300 bg-gray-600 text-white font-bold">
      <td *ngFor="let field of fields" class="px-6 py-4 text-sm">
        {{ field | uppercase }}
      </td>
    </tr>
    <tr
      *ngFor="let item of items$ | async"
      class="hover:bg-gray-50 hover:cursor-pointer"
    >
      <td *ngFor="let field of fields" class="px-6 py-4 text-sm border-2">
        {{ item.attributes[field] }}
      </td>
    </tr>
  </table>
</div>
<app-modal
  [visible]="showAdd"
  [options]="{ headerTitle: 'Add Coin' }"
  (visibleChange)="closeModal()"
>
  <app-new-item></app-new-item>
</app-modal>
