<div *ngIf="loading$ | async">LOADING</div>
<div
  *ngIf="fields.length > 0"
  class="flex flex-col mx-auto px-4 py-8 items-center"
>
  <button class="numis-button self-start" (click)="addCoin()">
    <fa-icon [icon]="faPlus" class="icon-style"></fa-icon> COIN
  </button>
  <table class="overflow-auto rounded-sm self-start">
    <tr class="border-teal-300 bg-teal-700 text-white font-bold">
      <td></td>
      <td *ngFor="let field of fields" class="px-6 py-4 text-sm">
        {{ field | uppercase }}
      </td>
      <td></td>
    </tr>
    <tr
      *ngFor="let item of items$ | async"
      class="hover:bg-teal-200 hover:cursor-pointer bg-gray-50"
      (click)="showItemDetail(item)"
    >
      <td class="px-2 py-2 text-sm border-2">
        <button
          class="rounded-md shadow py-1 px-2 mx-1 mb-2 bg-teal-600 text-white uppercase text-sm cursor-pointer"
          (click)="editItem(item)"
        >
          <fa-icon [icon]="faEdit" class="icon-style"></fa-icon>
        </button>
      </td>
      <td *ngFor="let field of fields" class="px-6 py-4 text-sm border-2">
        {{ item.attributes[field] }}
      </td>
      <td class="px-2 py-2 text-sm border-2">
        <button
          class="rounded-md shadow py-1 px-2 mx-1 mb-2 bg-teal-600 text-white uppercase text-sm cursor-pointer"
          (click)="deleteItem(item._id)"
        >
          <fa-icon [icon]="faDelete" class="icon-style"></fa-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
<app-modal
  [visible]="showAdd"
  [options]="{ headerTitle: 'Add Coin' }"
  (visibleChange)="closeModal()"
>
  <router-outlet></router-outlet>
</app-modal>
