<div class="flex flex-col justify-start">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="flex flex-col" *ngFor="let field of fields">
      <label for="{{ field }}" class="pr-2">{{ field.id | uppercase }}</label>
      <div [ngSwitch]="field.type">
        <input
          *ngSwitchCase="'text'"
          type="text"
          name="{{ field.id }}"
          id="{{ field.id }}"
          placeholder="{{ field.placeholder }}"
          [formControlName]="field.id"
          class="my-2 px-2 ring-1 ring-inset ring-gray-300 w-full border-0 bg-slate-100 text-gray-900 rounded-md placeholder:text-gray-400 focus:ring-inset"
        />
        <input
          *ngSwitchCase="'date'"
          type="date"
          name="{{ field.id }}"
          id="{{ field.id }}"
          placeholder="{{ field.placeholder }}"
          [formControlName]="field.id"
          class="my-2 px-2 ring-1 ring-inset ring-gray-300 w-full border-0 bg-slate-100 text-gray-900 rounded-md placeholder:text-gray-400 focus:ring-inset"
        />
        <input
          *ngSwitchCase="'number'"
          type="number"
          name="{{ field.id }}"
          id="{{ field.id }}"
          placeholder="{{ field.placeholder }}"
          [formControlName]="field.id"
          class="my-2 px-2 ring-1 ring-inset ring-gray-300 w-full border-0 bg-slate-100 text-gray-900 rounded-md placeholder:text-gray-400 focus:ring-inset"
        />
      </div>
    </div>
    <div>
      <button
        type="submit"
        class="rounded-md shadow py-1 px-2 my-2 bg-gray-600 text-white uppercase text-sm cursor-pointer disabled:bg-gray-400"
        [disabled]="busy"
      >
        {{ busy ? "Adding..." : "Add coin" }}
      </button>
    </div>
  </form>
</div>
